/*basic reset */
* {
  margin: 0;
  padding: 0;
}

/* Page settings */
html {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #fff 0%, #aaa 100%) no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Titillium Web", sans-serif;
}

body {
  text-align: center;
  display: table;
  background: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  color: #9ff4eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  display: block;
}

#author {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #0F0;
  z-index: 1;
  box-sizing: border-box;
  vertical-align: bottom;
}

span {
  font-family: monospace;
  font-size: 1.5em;
}

span:after {
  content: "_marum";
  opacity: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#canvas-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#canvas-wrap canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0
}


/* Remaining Default settings */

button {
  font-size: 10px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #333; */
  /* background: rgba(255, 255, 255, 0.3); */
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  /* box-shadow: 2px 5px 5px #333; */
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#create-task-form {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}